/*Regular text*/
.p1 {
  font-family: "Open Sans", sans-serif;
}

/*Centered regular text*/
.p2 {
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

p.italic {
  font-style: italic;
}

h1 {
  font-family: 'Codystar', Merriweather, serif;
  text-shadow: 0 0 4px #FF0000, 0 0 8px #0000FF;
}

body {
  background-color: f2e6ff;
  color: black;
}

h1 {
  background-color: white;
  color: black;
  text-align: center;
  text-transform: uppercase;
}

h3  {
	
}

h4  {
	text-align: center;
}

div {
  background-color: white;
  color: black;
  text-align: center;
  text-align: justify;
}

p  {
	text-indent: 50px;
}
